<div class="col-md-3" >
  <div class="well well-sm" >
    <div class="row" >
      <div class="col-sm-4" >
        <img ng-src="{{ employee.photo }}"
             alt=""
             class="img-rounded img-responsive"/>
      </div >
      <div class="col-sm-8" >
        <h4 >{{ employee.name }} {{ employee.surname }} 
        </h4 >
        <p style="overflow: hidden;">
          <!-- <span style="font-size: 10px;" class="glyphicon glyphicon-envelope" ></span> -->
          {{ employee.email }}
          <br />
          <i class="fa fa-gift" ></i >
					CPF: {{ employee.cpf }}
        </p >


					<button type="button"
					        class="btn btn-default btn-sm"
							    ui-sref="edit({id:employee.id})">
						<span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
					</button >

					<button type="button"
					        class="btn btn-danger btn-sm"
					        ladda="isDeleting"
							    ng-click="deleteEmployee()">
						<span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
					</button >

      </div >
    </div >
  </div >
</div >