<div class="col-md-3">
	<div class="nav" id="navbar-example">
		<ul class="nav nav-stacked" id="sidebar" role="tablist">
			<li ng-repeat="tab in tabs" 
				class="section-selector"
				ng-click="tabs.activeTab = tab.contentTag">
				
					<span class="{{tab.glyphiconClass}}"></span>
					&nbsp;&nbsp;{{ tab.title }}
				
			</li>
		</ul>
	</div>

	<!-- <div class="btn-group-vertical btn-block"  ng-model="tabs.activeTab">
	  <button 
	  	style="text-align: left!important;"
	  	class="btn btn-default {{ tabs.activeTab == tab.contentTag ? 'active' : ''}}" 
	  	ng-repeat="tab in tabs"
	  	ng-click="tabs.activeTab = tab.contentTag"
		>
	    <span class="{{tab.glyphiconClass}}"></span>&nbsp;&nbsp;{{ tab.title }}
	  </button>
	  <div class="clearfix"></div>
	</div> -->
</div>
<div class="col-md-9" >
	<form class="form-horizontal"
	      ng-submit="save()"
	      name="editForm"
	      novalidate >
		<div class="panel panel-default" >
			<div class="panel-heading" >
				<div class="row">
					<div class="col-sm-6">
						<h4 ng-if="mode == 'create'">Adicionar funcionário</h4>
						<h4 ng-if="mode == 'edit'">
							{{ employees.selectedEmployee.name }} 
							{{ employees.selectedEmployee.surname }}
						</h4>
					</div>
					<div class="col-sm-6">
						<div class="pull-right" >
							<button class="btn btn-primary btn-sm"
							        ladda="employees.isSaving"
							        type="submit" >
								<span ng-if="mode == 'edit'" >Salvar</span >
								<span ng-if="mode == 'create'" >Adicionar</span >
							</button >

							<button class="btn btn-danger btn-sm"
							        ladda="employees.isDeleting"
							        ng-if="mode == 'edit'"
							        ng-click="remove()" >Deletar
							</button >
						</div >
						<div class="clearfix" ></div >
					</div>
					<div class="clearfix" ></div >
					<div ng-show="!editForm.$valid && editForm.$submitted" style="padding: 0px 15px; color: #a94442;">
						Verifique a existência de erros no formulário.
					</div> 
				</div>
			</div >
			<ul class="list-group" 
				data-target="#navbar-example">
    			<ng-include src="'assets/templates/form.html'" ></ng-include >
			</ul>
				
		</div >
	</form >
</div >