<li ng-show="tabs.activeTab == 'info-pessoal'" class="list-group-item">
	<h4>Informações Pessoais</h4>
	<div class="col-md-10">
		<div class="form-group" >
			<label class="col-sm-3 control-label" >Foto do perfil</label >
			<div class="col-sm-2" >
				<img ng-src="{{ employees.selectedEmployee.photo }}" alt="" height="100px" class="img-thumbnail">
			</div>
			<div class="col-sm-6" >
				<input type="file"
				       class="form-control"
				       name="photo"
				       ng-model="employees.selectedEmployee.photo"
						/>
			</div >
		</div >
		<div class="form-group" >
			<label class="col-sm-3 control-label" >Nome</label >
			<div class="col-sm-4" >
				<input type="text"
					   placeholder="Nome"
				       class="form-control"
				       name="name"
				       ng-model="employees.selectedEmployee.name"
				       ng-maxlength="20"
				       required
				       ng-maxlength-err-type="maxlength"
				       required-err-type="required" />
			</div >

			<div class="col-sm-4" >
				<input type="text"
					   placeholder="Sobrenome"
				       class="form-control"
				       name="surname"
				       ng-model="employees.selectedEmployee.surname"
				       ng-maxlength="20"
				       required
				       ng-maxlength-err-type="maxlength"
				       required-err-type="required" />
			</div >
		</div >
		<div class="form-group">
			<label class="col-sm-3 control-label" >CPF</label >
			<div class="col-sm-4" >
				<input type="text"
				       name="cpf"
				       class="form-control"
				       ng-model="employees.selectedEmployee.cpf"
				       ng-minlength="11"
				       ng-maxlength="11"
				       required
				       ng-minlength-err-type="minlength"
				       ng-maxlength-err-type="maxlength"
				       required-err-type="required"
					/>
			</div >
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" >RG</label >
			<div class="col-sm-4" >
				<input type="text"
				       name="rg"
				       class="form-control"
				       ng-model="employees.selectedEmployee.rg"
				       required
				       required-err-type="required"
					/>
			</div >
		</div>
		<div class="form-group" >
			<label class="col-sm-3 control-label" >Sexo</label >
			<div class="col-sm-4" >
				<select name="gender"
				        class="form-control"
				        ng-model="employees.selectedEmployee.gender"
				        id=""
				        required
				        required-err-type="required"
				        >
					<option value="Masculino" >Masculino</option >
					<option value="Feminino" >Feminino</option >
				</select >
			</div >
		</div >
		<div class="form-group" >
			<label class="col-sm-3 control-label" >Data de nascimento</label >
			<div class="col-sm-4" >
				<input type="text"
				       name="birthdate"
				       class="form-control"
				       ng-model="employees.selectedEmployee.birthdate"
				       bs-datepicker
						/>
			</div >

		</div >
		<div class="form-group" >
			<label class="col-sm-3 control-label" >Contato</label >
			<div class="col-sm-4" >
				<input type="email"
					   placeholder="Email"
				       name="email"
				       class="form-control"
				       ng-model="employees.selectedEmployee.email"
				       required
				       required-err-type="required"
				       email-err-type="email" />
			</div >
		</div>
		<div class="form-group" >
			<div class="col-md-offset-3 col-sm-4" >
				<input type="tel"
					   placeholder="Telefone"
				       name="phones"
				       class="form-control"
				       ng-model="employees.selectedEmployee.phones"
						/>
			</div >
		</div >
		<div class="form-group" >
			<label class="col-sm-3 control-label" >Endereço</label >
			<div class="col-sm-4" >
				<input type="text"
					   placeholder="Endereço"
				       name="home_address1"
				       class="form-control"
				       ng-model="employees.selectedEmployee.home_address1"
						/>
			</div >
			<div class="col-sm-4" >
				<input type="text"
					   placeholder="Complemento"
				       name="home_address2"
				       class="form-control"
				       ng-model="employees.selectedEmployee.home_address2"
						/>
			</div >
		</div >
		<div class="form-group">
			<div class="col-md-offset-3 col-sm-4" >
				<input type="text"
					   placeholder="Cidade"
				       name="city"
				       class="form-control"
				       ng-model="employees.selectedEmployee.city"
					   disabled	/>
			</div >
			<div class="col-sm-4" >
				<input type="text"
					   placeholder="Bairro"
				       name="country"
				       class="form-control"
				       ng-model="employees.selectedEmployee.country"
						disabled	/>
			</div >
		</div >
	</div>
	<div class="clearfix"></div>
</li>


<li ng-show="tabs.activeTab == 'info-profissional'" class="list-group-item">
	<h4>Informações Profissionais</h4>
	<div class="form-group" >
		<label class="col-sm-3 control-label" >Departamento</label >
		<div class="col-sm-6" >
			<input type="text"
			       name="department"
			       class="form-control"
			       ng-model="employees.selectedEmployee.department"
				   required
				   required-err-type="required" />
		</div >
	</div >
	<div class="form-group" >
		<label class="col-sm-3 control-label" >Cargo</label >
		<div class="col-sm-6" >
			<input type="text"
			       name="job_title"
			       class="form-control"
			       ng-model="employees.selectedEmployee.job_title"
				   required
				   required-err-type="required" />
		</div >
	</div >
	<div class="form-group" >
		<label class="col-sm-3 control-label" >Data de admissão</label >
		<div class="col-sm-4" >
			<input type="text"
			       name="admission"
			       class="form-control"
			       ng-model="employees.selectedEmployee.admission"
			       bs-datepicker
				/>
		</div >
	</div >
	<div class="form-group" >
		<label class="col-sm-3 control-label" >Matrícula</label >
		<div class="col-sm-4" >
			<input type="text"
			       name="number"
			       class="form-control"
			       ng-model="employees.selectedEmployee.number"
			       required
			       required-err-type="required"
			       ng-maxlength="5"
			       ng-maxlength-err-type="maxlength"
				/>
		</div >
	</div >

	<div class="form-group" >
		<label class="col-sm-3 control-label" >Endereço de trabalho</label >
		<div class="col-sm-4" >
			<input type="text"
				placeholder="Rua, número e bairro"
			    name="work_address1"
			    class="form-control"
			    ng-model="employees.selectedEmployee.work_address1"
				/>
		</div >
		<div class="col-sm-4" >
			<input type="text"
				placeholder="Complemento"
				name="work_address2"
				class="form-control"
				ng-model="employees.selectedEmployee.work_address2"
				/>
		</div >
	</div >
	
	<div class="form-group" >
		<label class="col-sm-3 control-label" >Salário</label >
		<div class="col-sm-4" >
			<input type="text"
				placeholder="Salário base"
			       name="base_sallary"
			       class="form-control"
			       ng-model="employees.selectedEmployee.base_sallary"
				/>
		</div >
		<div class="col-sm-4" >
			<input type="text"
				placeholder="+ Adicional"
			       name="additional_sallary"
			       class="form-control"
			       ng-model="employees.selectedEmployee.additional_sallary"
				/>
		</div >
	</div >
	<div class="form-group">
		<label class="col-sm-3 control-label" >Dados bancários</label >
		<div class="col-sm-6 bank-selection">
			<input type="text" 
				name="bank" 
				placeholder="Banco" 
				class="form-control"
				ng-keyup="bankSearch(searchTerm)"
				ng-model="$parent.searchTerm"
				value="{{ employees.selectedEmployee.bank_id }}"
				required
				required-err-type="required"
				/ >
			<ul class="bank-tips" ng-show="completing">
				<li class="tip-title">Bancos com <b>{{ searchTerm }}</b></li>
				<li class="tip" 
					ng-repeat="tip in tips" 
					ng-click="setSearchTerm(tip.name, tip.id)">({{ tip.code }}) {{ tip.name }}
				</li>
			</ul>
			<!-- <select name="bank"
			        class="form-control"
			        ng-model="employees.selectedEmployee.bank"
			        >
				<option value="" disabled selected >Banco</option >
				<option value="itau" >Itaú</option >
				<option value="bradesco" >Bradesco</option >
				<option value="santander" >Santander</option >
				<option value="hsbc" >HSBC</option >
				<option value="bb" >Banco do Brasil</option >
				<option value="outro" >Outro</option >
			</select > -->
		</div >
	</div >
	<div class="form-group" >
		<div class="col-md-offset-3 col-sm-4" >
			<input type="text"
				placeholder="Número da conta"
			       name="number"
			       class="form-control"
			       ng-model="employees.selectedEmployee.bank_account_number"
				/>
		</div >
		<div class="col-sm-4" >
			<input type="text"
				placeholder="Agência"
			       name="bank_agency_number"
			       class="form-control"
			       ng-model="employees.selectedEmployee.bank_agency_number"
				/>
		</div >
	</div >
	<div class="form-group" >
		<label class="col-sm-3 control-label" >Dias de Trabalho</label >
		<div class="col-sm-4" >
			<input type="text"
			       name="workdays"
			       class="form-control"
			       ng-model="employees.selectedEmployee.workdays"
				/>
		</div >
	</div >
</li>	

<li ng-show="tabs.activeTab == 'documentos'" class="list-group-item">
	<h4>Documentos</h4>
	<p>Sem documentos para listar.</p>
</li>
<li ng-show="tabs.activeTab == 'ativos'" class="list-group-item">
	<h4>Ativos alocados</h4>
	<p>Sem ativos para este funcionário.</p>
</li>
<li ng-show="tabs.activeTab == 'relatorios'" class="list-group-item">
	<h4>Relatórios</h4>
	<p>Sem dados para gerar relatório.</p>
</li>
<li ng-show="tabs.activeTab == 'emergencia'" class="list-group-item">
	<h4>Contatos de emergência</h4>
	<p></p>
</li>
<li ng-show="tabs.activeTab == 'obs'" class="list-group-item">
	<h4>Observações</h4>
	<p></p>
</li>
