<div class="col-md-9">
	<div class="row">
		<cc-card 
			ng-repeat="employee in employees.persons"
			employee="employee">
		</cc-card>
		<!-- <table class="table table-bordered">
			<tr>
				<th>Nome</th>
				<th>Cargo</th>
				<th>Email</th>
				<th>Actions</th>
			<tr ng-repeat="employee in employees.persons">
				<td>{{ employee.name }} {{ employee.surname }}</td>
				<td>{{ employee.job_title }}</td>
				<td>{{ employee.email }}</td>
				<td>
					<button type="button"
					        class="btn btn-default btn-sm"
							ui-sref="edit({cpf:employee.cpf})">
						Edit
					</button >
					<button type="button"
					        class="btn btn-default btn-sm"
							ng-click="deleteEmployee()">
						Deletar
					</button >
				</td>
			</tr>
		</table> -->
	</div>
</div>