<div class="col-md-12">
	<div class="row">
		<div class="actions-bar navbar navbar-form" >
			<div class="search-employee form-group col-sm-5" >
				<input type="text"
				       class="form-control"
				       id="name"
				       ng-model="employees.search"
				       ng-model-options="{ debounce: 300 }"
				       placeholder="Buscar funcionário"
						/>
				<select class="form-control"
				        ng-model="employees.ordering" >
					<option value="name" >Ordenar por nome</option>
					<option value="email" >Ordernar por email</option>
				</select >
			</div >

			<div class="view-type form-group col-sm-4" >
				Visualizar
				<button ng-click="viewType = 'grid'" class="btn btn-default btn-card-view">
					<span class="glyphicon glyphicon-th-large"></span>
					Cards
				</button>
				<button ng-click="viewType = 'list'" class="btn btn-default btn-list-view">
					<span class="glyphicon glyphicon-th-list"></span>
					Lista
				</button>
			</div>

			<div class="col-sm-3">
				<a class="btn btn-primary pull-right" ui-sref="create">
					<span class="glyphicon glyphicon-plus"></span>
					Adicionar funcionário
				</a >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" style="padding: 0;">
			<div ng-if="viewType == 'grid'" class="card-view">
				<cc-card 
					ng-repeat="employee in employees.persons"
					employee="employee">
				</cc-card>
			</div>
		</div>

		<div class="col-sm-12">
			<table ng-if="viewType == 'list'" class="table list-view">
				<tr cc-list
					ng-repeat="employee in employees.persons"
					employee="employee"
					>
				</tr>
			</table>
		</div>


	</div>
	<cc-spinner 
		is-loading="employees.isLoading"></cc-spinner>
</div>