<div class="col-md-10">
	<div class="row">
		<form class="navbar navbar-form" >
			<div class="form-group" >
				<input type="text"
				       class="form-control"
				       id="name"
				       ng-model="employees.search"
				       ng-model-options="{ debounce: 300 }"
				       placeholder="Buscar funcionário"
						/>
			</div >
			<div class="form-group" >
				<select class="form-control"
				        ng-model="employees.ordering" >
					<option value="" selected disabled >Ordernar por</option>
					<option value="name" >Nome</option>
					<option value="email" >Email</option>
				</select >
			</div >
		</form >
	</div>
	<div class="row">
		<cc-card 
			ng-repeat="employee in employees.persons"
			employee="employee">
		</cc-card>
	</div>
	<cc-spinner 
		is-loading="employees.isLoading"></cc-spinner>
</div>